.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: medium;
}

.homepage-title {
  margin: 20px 0;
  text-align: center;
}

.homepage-description {
  padding: 0 20px;
  margin: 30px 0;
}

.homepage-rules {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 40px;
}

.homepage-button {
  width: 60%;
  height: 60px;
  margin-bottom: 80px;
  border-radius: 40px;
  box-shadow: 0 0 5px 0 rgba(140, 138, 140, 0.73);
  background: #9ca3af;
  font-family: inherit;
  font-size: larger;
  font-weight: 800;
  cursor: pointer;
}

.homepage-button:hover {
  background: #374151;
}

.homepage-contacts {
  display: flex;
  gap: 50px;
}

.homepage-contact-github {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.homepage-contact-github:hover {
  color: #4b5563;
  text-decoration: underline;
}

.homepage-contact-repo a {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.homepage-contact-repo:hover {
  color: goldenrod;
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .homepage-description {
    padding: 0 80px;
  }

  .homepage-contacts {
    gap: 150px;
  }
}
