@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap");

body {
  background: #1f2937;
  color: #e5e7eb;
}

a {
  text-decoration: none;
  color: inherit;
}

body,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}

.app {
  max-width: 900px;
  min-height: 100vh;
  margin: 0 auto;
  background: #111827;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background: #374151;
  color: #f9fafb;
}

.header-clear-stats {
  display: flex;
  align-items: center;
  gap: 3px;
  margin-right: 10px;
  cursor: pointer;
  font-size: large;
}

.header-clear-stats:hover {
  text-decoration: underline;
  color: #a3a3a3;
}

.game-level-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 20px 0 5px;
  color: #f3f4f6;
}

.game-best-score {
  margin-top: 3px;
  color: #86878a;
}

/* styles for level 1 */
.cards {
  width: max-content;
  display: grid;
  grid-template-columns: repeat(4, 60px);
  gap: 16px;
  margin: 20px auto;
}

.card {
  height: 80px;
  border: 3px solid rgb(19, 23, 43);
  border-radius: 10px;
  cursor: pointer;
  background: url("./Assets/card-back.png");
}
/* ----------------------- */

@media screen and (min-width: 768px) {
  .cards {
    grid-template-columns: repeat(4, 100px);
  }

  .card {
    height: 130px;
  }

  .game-level-heading {
    margin: 20px 30px 0 30px;
  }
}

@media screen and (min-width: 400px) and (max-width: 767px) {
  .cards {
    grid-template-columns: repeat(4, 80px);
  }

  .card {
    height: 100px;
  }
}
